<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo Rocha</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="cabecalho">
        <a href="#" class="logo"><b>Gustavo Rocha</b></a>
        <ul class="menu">
            <li><a href="#" class="item-menu">Início</a></li>
            <li><a href="#sobremim" class="item-menu">Sobre mim</a></li>
            <li><a href="#habilidades" class="item-menu">Habilidades</a></li>
            <li><a href="#projetos" class="item-menu">Projetos</a></li>
        </ul>
    </header>

    <section>
        <h2>Sobre Mim</h2>
        <p>Como estudante de Engenharia da Computação na UFMA, estou em constante busca por desafios que me permitam expandir minha compreensão e habilidades na área de desenvolvimento web.</p>
    </section>

    <section>
        <h2>Habilidades</h2>
        <ul>
            <li><b>Linguagens de Programação:</b> Python</li>
            <li><b>Frameworks:</b> Flask</li>
            <li><b>Desenvolvimento Web:</b> HTML, CSS</li>
            <li><b>Interesses:</b> Explorando tecnologias emergentes, desenvolvimento de software.</li>
        </ul>
    </section>

    <section>
        <h2>Projetos</h2>
        <p>Participei de projetos acadêmicos, incluindo um sistema de controle de estoque utilizando Flask, Python e MySQL. Além disso, desenvolvi um simples jogo da velha em Python.</p>
        <ul class="projeto-lista">
            <div>
            <li class="projeto-card">
                <img src="proj.png" alt="Projeto 1">
                <h3>Sistema de Controle de Estoque</h3>
                <button onclick="window.open('link_do_projeto1', '_blank')">Acessar Projeto</button>
            </li>
            <li class="projeto-card">
                <img src="proj.png" alt="Projeto 2">
                <h3>Jogo da Velha em Python</h3>
                <button onclick="window.open('link_do_projeto2', '_blank')">Acessar Projeto</button>
            </li>
            </div>
            <div>
                <li class="projeto-card">
                    <img src="proj.png" alt="Projeto 1">
                    <h3>Sistema de Controle de Estoque</h3>
                    <button onclick="window.open('link_do_projeto1', '_blank')">Acessar Projeto</button>
                </li>
                <li class="projeto-card">
                    <img src="proj.png" alt="Projeto 2">
                    <h3>Jogo da Velha em Python</h3>
                    <button onclick="window.open('link_do_projeto2', '_blank')">Acessar Projeto</button>
                </li>
                </div>
        </ul>
    </section>
    
    

    <footer>
        <section>
        <h2>Contato</h2>
        <p>Estou aberto a oportunidades de aprendizado, colaborações e projetos acadêmicos. Entre em contato comigo por e-mail: <a href="mailto:rocha.gustavops@gmail.com">rocha.gustavops@gmail.com</a>.</p>
        <p>Conecte-se comigo no LinkedIn: <a href="https://www.linkedin.com/in/gustavosilvrocha/" target="_blank">LinkedIn</a>.</p>
        </section>
    </footer>
</body>
</html>